.application-content-div {
  padding: 1.5625rem 1.5rem 0;
}
.application-tab-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.application-content-div .search-box {
  margin: 0;
}

.application-tab-div p {
  font-weight: 400;
  font-size: 1rem;
  color: #787878;
}
.filter-grp-div {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.solid-table .mdc-data-table__cell, .solid-table .mat-mdc-header-cell{
    width: 13% !important;
}
.solid-table .mdc-data-table__cell:nth-child(5), .solid-table .mat-mdc-header-cell:nth-child(5){
    width: 22% !important;
}