.customChip {
  padding: 1.875rem 0;
}
.search-filter-div {
  padding: 1.5625rem 1.5rem;
}
.solid-table {
  padding: 0 1.5rem;
  height: calc(100vh - 30rem);
}
.solid-table th:first-child,
.solid-table td:first-child {
  width: 30% !important;
}
.solid-table th:nth-child(2),
.solid-table td:nth-child(2) {
  width: 15% !important;
}
.solid-table th:nth-child(3),
.solid-table td:nth-child(3) {
  width: 15% !important;
}
.solid-table th:nth-child(4),
.solid-table td:nth-child(4) {
  width: 40% !important;
}
.solid-table td {
  padding: 1rem !important;
}

.fixed-btn {
  padding: 1rem 1.5rem;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0.6);
}
.search-filter-div {
  position: sticky;
  top: 8.5rem;
  background: #f4f4f4;
  z-index: 999;
}
.inner-header-wrapper {
  z-index: 99;
}
