<mat-card class="card-wrapper"  >
  @defer {
    <div class="card-header">
      <h6 class="card-title">{{ title }}</h6>
    </div>
    <div class="card-content">
      <app-donutchart *ngIf="chart" [percentage]="percentage" [title]="title"></app-donutchart>
      <div class="card-content-data" *ngIf="file">
        <h6>
          {{ filecount }}
          <span>{{ fileicon ? "Files" : "Folders" }}</span>
        </h6>
      </div>
      <div class="card-value">
        <span><img [src]="icon" /> {{ value }}</span>
        <p>{{ subtitle }}</p>
      </div>
    </div>
  } @placeholder (minimum 1000ms) {
    <div class="card-header">
      <h6 class="card-title">
        <ngx-skeleton-loader animation="progress"/>
      </h6>
    </div>
    <div class="card-content">
      @if (chart) {
       <ngx-skeleton-loader count="1" appearance="circle" 
       [theme]="{ 
      height: '6.25rem',
      width: '6.25rem',
    }"
       />
      } @else {
        <div class="card-content-data" *ngIf="file">
          <h6>
            <ngx-skeleton-loader animation="progress"/>
            <ngx-skeleton-loader animation="progress"/>
          </h6>
        </div>
      }

      <div class="card-value">
         <ngx-skeleton-loader animation="progress"/>
        <ngx-skeleton-loader animation="progress"/>
      </div>
    </div>
  }
</mat-card>


