.fixed-btn {
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}
.solid-table {
  height: calc(100vh - 31.2rem);
}
.open-table {
  height: calc(100vh - 26.3rem);
}
.review-table {
  height: calc(100vh - 30.8rem);
}
