<div class="inner-header-wrapper inner-header-wrapper-with-tabs">
  <app-breadcrumb></app-breadcrumb>
  <h1>{{ tabs[selectedIndex].name }}</h1>
</div>

<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="start"
  class="custom-tab"
  (selectedTabChange)="onTabChange($event)"
>
  <mat-tab *ngFor="let tab of tabs" [label]="tab.name">
    <!-- ✅ Important TAB -->
    <ng-container *ngIf="tab.key === 'important'">
      <div class="search-filter-div">
        <!-- 🔍 Search -->
        <div class="search-box">
          <input
            #searchInputImportant
            type="text"
            placeholder="Search"
            (input)="onSearchImportant(searchInputImportant.value)"
          />
          <img src="/svg/search.svg" class="search-icon" />
        </div>

        <!-- 🔢 Count -->
        <p>Showing {{ showingCountImportant }} of {{ totalCountImportant }}</p>

        <div class="filter-grp-div">
          <div class="custom-filter no-icon">
            <mat-form-field>
              <mat-label>Download</mat-label>
              <mat-select
                [(ngModel)]="selectedDownloadImportant"
                panelClass="custom-filter-panel"
              >
                <mat-option value="download">Download</mat-option>
                <mat-option value="pdf" (click)="downloadPDFImportant()"
                  ><div class="icontexttd">
                    <img src="/svg/pdf.svg" class="icons" alt="pdf" /> PDF
                  </div></mat-option
                >
                <mat-option value="excel" (click)="downloadExcelImportant()"
                  ><div class="icontexttd">
                    <img src="/svg/excel.svg" class="icons" alt="excel" /> Excel
                  </div></mat-option
                >
                <mat-option value="csv" (click)="downloadCSVImportant()"
                  ><div class="icontexttd">
                    <img src="/svg/csv.svg" class="icons" alt="csv" /> CSV
                  </div></mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <!-- Bulk Decisions -->
          <div class="custom-filter no-icon">
            <mat-form-field>
              <mat-label>Bulk Decisions</mat-label>
              <mat-select
                [value]="bulkdecisions"
                panelClass="custom-filter-panel"
                (selectionChange)="
                  applyBulkDecisionImportantToAll($event.value)
                "
              >
                <mat-option value="" disabled selected
                  >Bulk Decisions</mat-option
                >
                <mat-option value="approve">Approve</mat-option>
                <mat-option value="reject">Reject</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Category Filter -->
          <div class="custom-filter no-icon">
            <mat-form-field>
              <mat-label>Select Category</mat-label>
              <mat-select
                [value]="selectedCategory"
                panelClass="custom-filter-panel"
                (selectionChange)="filterCategoryImportant($event.value)"
              >
                <mat-option value="">Select Category</mat-option>

                <mat-option
                  *ngFor="let cat of categoriesImportant"
                  [value]="cat"
                >
                  {{ cat }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Type Filter -->
          <div class="custom-filter">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <mat-select
                panelClass="custom-filter-panel"
                (selectionChange)="filterTypeImportant($event.value)"
              >
                <mat-option value="">Filter</mat-option>
                <mat-option value="Folder">Folder</mat-option>
                <mat-option value="File">File</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div>
        <div class="title-div">
          <h3>Policy Violations</h3>

          <div class="filter-grp-div">
            <div class="custom-filter no-icon">
              <mat-form-field>
                <mat-label>Columns</mat-label>

                <mat-select
                  panelClass="custom-filter-panel"
                  multiple
                  [value]="displayedColumnsImportant"
                  (selectionChange)="onColumnChange($event.value)"
                >
                  <!-- SELECT ALL -->
                  <!-- <mat-option (click)="toggleAllColumns($event)">
                    Select All
                  </mat-option> -->

                  <!-- COLUMN OPTIONS -->
                  <mat-option value="folderFileName">
                    Folder / File Names
                  </mat-option>

                  <mat-option value="resourceFullPath">
                    Resource Full Path
                  </mat-option>

                  <mat-option value="category"> Category </mat-option>

                  <mat-option value="identityEmployeeName">
                    Identity Employee Name
                  </mat-option>

                  <mat-option value="decision"> Decision </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="solid-table inportant-table table-wrapper">
        <table
          mat-table
          [dataSource]="pagination.important.paginatedData"
          class="mat-elevation-z2"
        >
          <!-- PATH -->
          <ng-container matColumnDef="folderFileName">
            <th mat-header-cell *matHeaderCellDef>
              <div class="checktddiv">
                <!-- <mat-checkbox
                  (change)="toggleAllRows()"
                  [checked]="isAllSelected()"
                  [indeterminate]="isIndeterminate()"
                ></mat-checkbox> -->

                <span>Folder / File Name</span>
              </div>
            </th>

            <td mat-cell *matCellDef="let row">
              <div class="icontexttd">
                <img
                  src="/svg/folder.svg"
                  *ngIf="row.sourceType === 'Folder'"
                />
                <img src="/svg/file.svg" *ngIf="row.sourceType === 'File'" />
                <a routerLink="/review-access/sod-detail" class="table-link">
                  {{ row.folderFileName }}
                </a>
              </div>
              <!-- <div class="checktddiv">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="toggleRow(row)"
                  [checked]="selection.has(row)"
                ></mat-checkbox>

                <span>
                  <a
                    routerLink="/review-access/sod-detail"
                    class="table-link"
                    >{{ row.folderFileName }}</a
                  ></span
                >
              </div> -->
            </td>
          </ng-container>

          <ng-container matColumnDef="resourceFullPath">
            <th mat-header-cell *matHeaderCellDef>Resource Full Path</th>

            <td mat-cell *matCellDef="let row">
              {{ row.resourceFullPath }}
            </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>

            <td mat-cell *matCellDef="let row">
              {{ row.category }}
            </td>

            <!-- <td mat-cell *matCellDef="let row">
              <div class="icontexttd">
                <img src="/svg/folder.svg" *ngIf="row.type === 'folder'" />
                <img src="/svg/file.svg" *ngIf="row.type === 'file'" />

                {{ row.folderFileName }}
              </div>
            </td> -->
          </ng-container>

          <ng-container matColumnDef="identityEmployeeName">
            <th mat-header-cell *matHeaderCellDef>Identity / Employee Name</th>

            <td mat-cell *matCellDef="let row">
              {{ row.identityEmployeeName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="decision">
            <th mat-header-cell *matHeaderCellDef class="lastcol">Decision</th>

            <td mat-cell *matCellDef="let row" class="lastcol liketd">
              <div class="likediv">
                <!-- LIKE -->
                <span
                  class="like"
                  [ngClass]="{ active: row.approve }"
                  (click)="
                    onDecisionClick(row, 'approve'); $event.stopPropagation()
                  "
                >
                  <img
                    src="/svg/like.svg"
                    width="17"
                    height="17"
                    class="likeimg"
                  />
                </span>

                <!-- DISLIKE -->
                <span
                  class="dislike"
                  [ngClass]="{ active: row.reject }"
                  (click)="
                    onDecisionClick(row, 'reject'); $event.stopPropagation()
                  "
                >
                  <img
                    src="/svg/unlike.svg"
                    width="17"
                    height="17"
                    class="likeimg"
                  />
                </span>

                <span class="innermenu">
                  <img
                    src="/svg/lines3.svg"
                    width="17"
                    height="17"
                    class="likeimg"
                  />
                  <div class="menuinnerwrapper">
                    <div class="menuinner">
                      <p (click)="openEmployeeDialog()">View Details</p>
                      <p (click)="openForwoardDialog()">Forward</p>
                    </div>
                  </div>
                </span>
              </div>
            </td>
          </ng-container>

          <!-- HEADER -->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsImportant"></tr>

          <!-- ROWS -->
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsImportant"
            (click)="toggleRow(row)"
          ></tr>

          <!-- NO DATA -->
          <tr class="mat-row" *matNoDataRow>
            <td
              class="mat-cell"
              colspan="4"
              style="text-align: center; padding: 20px"
            >
              No data found
            </td>
          </tr>
        </table>
        <!-- <div class="fixed-btn">
          <button mat-flat-button class="btn-blue">Save</button>
        </div> -->
      </div>

      <!-- ✅ Custom Pagination -->
      <div class="custom-pagination">
        <span class="count">
          Showing {{ pagination.important.paginatedData.length }} of
          {{ pagination.important.totalElements }}
        </span>

        <div class="pagination-buttons">
          <button
            (click)="firstPage('important')"
            [disabled]="pagination.important.pageIndex === 0"
          >
            «
          </button>
          <button
            (click)="prevPage('important')"
            [disabled]="pagination.important.pageIndex === 0"
          >
            ‹
          </button>

          <span *ngIf="pagination.important.pages[0] > 1">...</span>

          <button
            *ngFor="let p of pagination.important.pages"
            (click)="goToPage('important', p)"
            [class.active]="p === pagination.important.pageIndex + 1"
          >
            {{ p }}
          </button>

          <span
            *ngIf="
              pagination.important.pages[
                pagination.important.pages.length - 1
              ] < pagination.important.totalPages
            "
          >
            ...
          </span>

          <button
            (click)="nextPage('important')"
            [disabled]="
              pagination.important.pageIndex ===
              pagination.important.totalPages - 1
            "
          >
            ›
          </button>
          <button
            (click)="lastPage('important')"
            [disabled]="
              pagination.important.pageIndex ===
              pagination.important.totalPages - 1
            "
          >
            »
          </button>
        </div>
      </div>
    </ng-container>

    <!-- ✅ Open TAB -->
    <ng-container *ngIf="tab.key === 'open'">
      <div class="search-filter-div">
        <!-- 🔍 Search -->
        <div class="search-box">
          <input
            #searchInputOpen
            type="text"
            placeholder="Search"
            (input)="onSearchOpen(searchInputOpen.value)"
          />
          <img src="/svg/search.svg" class="search-icon" />
        </div>

        <!-- 🔢 Count -->
        <p>Showing {{ showingCountOpen }} of {{ totalCountOpen }}</p>

        <div class="filter-grp-div">
          <div class="custom-filter no-icon">
            <mat-form-field>
              <mat-label>Download</mat-label>
              <mat-select
                [(ngModel)]="selectedDownloadOpen"
                panelClass="custom-filter-panel"
              >
                <mat-option value="download">Download</mat-option>
                <mat-option value="pdf" (click)="downloadPDFOpen()"
                  ><div class="icontexttd">
                    <img src="/svg/pdf.svg" class="icons" alt="pdf" /> PDF
                  </div></mat-option
                >
                <mat-option value="excel" (click)="downloadExcelOpen()"
                  ><div class="icontexttd">
                    <img src="/svg/excel.svg" class="icons" alt="excel" /> Excel
                  </div></mat-option
                >
                <mat-option value="csv" (click)="downloadCSVOpen()"
                  ><div class="icontexttd">
                    <img src="/svg/csv.svg" class="icons" alt="csv" /> CSV
                  </div></mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Bulk Decisions -->
          <div class="custom-filter no-icon">
            <mat-form-field>
              <mat-label>Bulk Decisions</mat-label>
              <mat-select
                [value]="bulkdecisions"
                panelClass="custom-filter-panel"
                (selectionChange)="applyBulkDecisionOpenToAll($event.value)"
              >
                <mat-option value="" disabled selected
                  >Bulk Decisions</mat-option
                >
                <mat-option value="approve">Approve</mat-option>
                <mat-option value="reject">Reject</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Category Filter -->
          <div class="custom-filter no-icon">
            <mat-form-field>
              <mat-label>Select Category</mat-label>
              <mat-select
                [value]="selectedCategory"
                panelClass="custom-filter-panel"
                (selectionChange)="filterCategoryOpen($event.value)"
              >
                <mat-option value="">Select Category</mat-option>

                <mat-option *ngFor="let cat of categoriesOpen" [value]="cat">
                  {{ cat }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Type Filter -->
          <div class="custom-filter">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <mat-select
                panelClass="custom-filter-panel"
                (selectionChange)="filterTypeOpen($event.value)"
              >
                <mat-option value="">Filter</mat-option>
                <mat-option value="Folder">Folder</mat-option>
                <mat-option value="File">File</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="solid-table open-table table-wrapper">
        <table
          mat-table
          [dataSource]="pagination.open.paginatedData"
          class="mat-elevation-z2"
        >
          <!-- PATH -->
          <ng-container matColumnDef="identityEmployeeName">
            <th mat-header-cell *matHeaderCellDef>
              <div class="checktddiv">
                <!-- <mat-checkbox
                  (change)="toggleAllRows()"
                  [checked]="isAllSelected()"
                  [indeterminate]="isIndeterminate()"
                ></mat-checkbox> -->

                <span>Employee Name</span>
              </div>
            </th>

            <td mat-cell *matCellDef="let row">
              <div class="icontexttd">
                <img
                  src="/svg/folder.svg"
                  *ngIf="row.sourceType === 'Folder'"
                />
                <img src="/svg/file.svg" *ngIf="row.sourceType === 'File'" />
                {{ row.identityEmployeeName }}
              </div>
              <!-- <div class="checktddiv">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="toggleRow(row)"
                  [checked]="selection.has(row)"
                ></mat-checkbox>

                <span>{{ row.employeename }}</span>
              </div> -->
            </td>
          </ng-container>

          <ng-container matColumnDef="folderFileName">
            <th mat-header-cell *matHeaderCellDef>Folder / File Names</th>

            <td mat-cell *matCellDef="let row">
              <div class="icontexttd">
                <img src="/svg/folder.svg" *ngIf="row.type === 'folder'" />
                <img src="/svg/file.svg" *ngIf="row.type === 'file'" />

                {{ row.folderFileName }}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="resourceFullPath">
            <th mat-header-cell *matHeaderCellDef>Resource Full Path</th>

            <td mat-cell *matCellDef="let row">
              {{ row.resourceFullPath }}
            </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Categories</th>

            <td mat-cell *matCellDef="let row">
              {{ row.category }}
            </td>
          </ng-container>

          <ng-container matColumnDef="decision">
            <th mat-header-cell *matHeaderCellDef class="lastcol">Decision</th>

            <td mat-cell *matCellDef="let row" class="liketd">
              <div class="likediv">
                <span class="innermenu innermsg">
                  <img
                    src="/svg/msg.svg"
                    width="17"
                    height="17"
                    class="likeimg"
                  />
                  <div class="menuinnerwrapper">
                    <div class="menuinner">
                      <h6>{{ row.messagetitle }}</h6>
                      <p [innerHTML]="getSafeHtml(row.messagedesc)"></p>
                    </div>
                  </div>
                </span>

                <!-- LIKE -->
                <span
                  class="like"
                  [ngClass]="{ active: row.approve }"
                  (click)="
                    onDecisionClick(row, 'approve'); $event.stopPropagation()
                  "
                >
                  <img
                    src="/svg/like.svg"
                    width="17"
                    height="17"
                    class="likeimg"
                  />
                </span>

                <!-- DISLIKE -->
                <span
                  class="dislike"
                  [ngClass]="{ active: row.reject }"
                  (click)="
                    onDecisionClick(row, 'reject'); $event.stopPropagation()
                  "
                >
                  <img
                    src="/svg/unlike.svg"
                    width="17"
                    height="17"
                    class="likeimg"
                  />
                </span>

                <span class="innermenu">
                  <img
                    src="/svg/lines3.svg"
                    width="17"
                    height="17"
                    class="likeimg"
                  />
                  <div class="menuinnerwrapper">
                    <div class="menuinner">
                      <p (click)="openEmployeeDialog()">View Details</p>
                      <p (click)="openForwoardDialog()">Forward</p>
                    </div>
                  </div>
                </span>
              </div>
            </td>
          </ng-container>

          <!-- HEADER -->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsOpen"></tr>

          <!-- ROWS -->
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsOpen"
            (click)="toggleRow(row)"
          ></tr>

          <!-- NO DATA -->
          <tr class="mat-row" *matNoDataRow>
            <td
              class="mat-cell"
              colspan="4"
              style="text-align: center; padding: 20px"
            >
              No data found
            </td>
          </tr>
        </table>
        <!-- <div class="fixed-btn">
          <button mat-flat-button class="btn-blue">Save</button>
        </div> -->
      </div>

      <!-- ✅ Custom Pagination -->
      <div class="custom-pagination">
        <span class="count">
          Showing {{ pagination.open.paginatedData.length }} of
          {{ pagination.open.totalElements }}
        </span>

        <div class="pagination-buttons">
          <button
            (click)="firstPage('open')"
            [disabled]="pagination.open.pageIndex === 0"
          >
            «
          </button>
          <button
            (click)="prevPage('open')"
            [disabled]="pagination.open.pageIndex === 0"
          >
            ‹
          </button>

          <span *ngIf="pagination.open.pages[0] > 1">...</span>

          <button
            *ngFor="let p of pagination.open.pages"
            (click)="goToPage('open', p)"
            [class.active]="p === pagination.open.pageIndex + 1"
          >
            {{ p }}
          </button>

          <span
            *ngIf="
              pagination.open.pages[pagination.open.pages.length - 1] <
              pagination.open.totalPages
            "
          >
            ...
          </span>

          <button
            (click)="nextPage('open')"
            [disabled]="
              pagination.open.pageIndex === pagination.open.totalPages - 1
            "
          >
            ›
          </button>
          <button
            (click)="lastPage('open')"
            [disabled]="
              pagination.open.pageIndex === pagination.open.totalPages - 1
            "
          >
            »
          </button>
        </div>
      </div>
    </ng-container>

    <!-- ✅ Review TAB -->
    <ng-container *ngIf="tab.key === 'review'">
      <div class="search-filter-div">
        <!-- 🔍 Search -->
        <div class="search-box">
          <input
            #searchInputReview
            type="text"
            placeholder="Search"
            (input)="onSearchReview(searchInputReview.value)"
          />
          <img src="/svg/search.svg" class="search-icon" />
        </div>

        <!-- 🔢 Count -->
        <p>Showing {{ showingCountReview }} of {{ totalCountReview }}</p>

        <div class="filter-grp-div">
          <div class="custom-filter no-icon">
            <mat-form-field>
              <mat-label>Download</mat-label>
              <mat-select
                [(ngModel)]="selectedDownloadReview"
                panelClass="custom-filter-panel"
              >
                <mat-option value="download">Download</mat-option>
                <mat-option value="pdf" (click)="downloadPDFReview()"
                  ><div class="icontexttd">
                    <img src="/svg/pdf.svg" class="icons" alt="pdf" /> PDF
                  </div></mat-option
                >
                <mat-option value="excel" (click)="downloadExcelReview()"
                  ><div class="icontexttd">
                    <img src="/svg/excel.svg" class="icons" alt="excel" /> Excel
                  </div></mat-option
                >
                <mat-option value="csv" (click)="downloadCSVReview()"
                  ><div class="icontexttd">
                    <img src="/svg/csv.svg" class="icons" alt="csv" /> CSV
                  </div></mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <!-- Type Filter -->
          <div class="custom-filter">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <mat-select
                panelClass="custom-filter-panel"
                (selectionChange)="filterTypeReview($event.value)"
              >
                <mat-option value="">Filter</mat-option>
                <mat-option value="Folder">Folder</mat-option>
                <mat-option value="File">File</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="solid-table review-table table-wrapper">
        <table
          mat-table
          [dataSource]="pagination.review.paginatedData"
          class="mat-elevation-z2"
        >
          <!-- PATH -->
          <ng-container matColumnDef="identityEmployeeName">
            <th mat-header-cell *matHeaderCellDef>
              <div class="checktddiv">
                <!-- <mat-checkbox
                  (change)="toggleAllRows()"
                  [checked]="isAllSelected()"
                  [indeterminate]="isIndeterminate()"
                ></mat-checkbox> -->

                <span>Employee Name</span>
              </div>
            </th>

            <td mat-cell *matCellDef="let row">
              <div class="icontexttd">
                <img
                  src="/svg/folder.svg"
                  *ngIf="row.sourceType === 'Folder'"
                />
                <img src="/svg/file.svg" *ngIf="row.sourceType === 'File'" />
                {{ row.identityEmployeeName }}
              </div>
              <!-- <div class="checktddiv">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="toggleRow(row)"
                  [checked]="selection.has(row)"
                ></mat-checkbox>

                <span>{{ row.employeename }}</span>
              </div> -->
            </td>
          </ng-container>

          <ng-container matColumnDef="folderFileName">
            <th mat-header-cell *matHeaderCellDef>Folder / File Names</th>

            <td mat-cell *matCellDef="let row">
              <div class="icontexttd">
                <img src="/svg/folder.svg" *ngIf="row.type === 'folder'" />
                <img src="/svg/file.svg" *ngIf="row.type === 'file'" />

                {{ row.folderFileName }}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="resourceFullPath">
            <th mat-header-cell *matHeaderCellDef>Resource Full Path</th>

            <td mat-cell *matCellDef="let row">
              {{ row.resourceFullPath }}
            </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Categories</th>

            <td mat-cell *matCellDef="let row">
              {{ row.category }}
            </td>
          </ng-container>

          <ng-container matColumnDef="decision">
            <th mat-header-cell *matHeaderCellDef class="lastcol">Decision</th>

            <td mat-cell *matCellDef="let row" class="liketd">
              <div class="likediv">
                <!-- APPROVED -->
                <span *ngIf="row.approve" class="like active">
                  <img
                    src="/svg/like.svg"
                    width="17"
                    height="17"
                    class="likeimg"
                  />
                </span>

                <!-- REJECTED -->
                <span *ngIf="row.reject" class="dislike active">
                  <img
                    src="/svg/unlike.svg"
                    width="17"
                    height="17"
                    class="likeimg"
                  />
                </span>
              </div>
            </td>
          </ng-container>

          <!-- HEADER -->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsReview"></tr>

          <!-- ROWS -->
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsReview"
            (click)="toggleRow(row)"
          ></tr>

          <!-- NO DATA -->
          <tr class="mat-row" *matNoDataRow>
            <td
              class="mat-cell"
              colspan="4"
              style="text-align: center; padding: 20px"
            >
              No data found
            </td>
          </tr>
        </table>
      </div>

      <!-- ✅ Custom Pagination -->
      <div class="custom-pagination">
        <span class="count">
          Showing {{ pagination.review.paginatedData.length }} of
          {{ pagination.review.totalElements }}
        </span>

        <div class="pagination-buttons">
          <button
            (click)="firstPage('review')"
            [disabled]="pagination.review.pageIndex === 0"
          >
            «
          </button>
          <button
            (click)="prevPage('review')"
            [disabled]="pagination.review.pageIndex === 0"
          >
            ‹
          </button>

          <span *ngIf="pagination.review.pages[0] > 1">...</span>

          <button
            *ngFor="let p of pagination.review.pages"
            (click)="goToPage('review', p)"
            [class.active]="p === pagination.review.pageIndex + 1"
          >
            {{ p }}
          </button>

          <span
            *ngIf="
              pagination.review.pages[pagination.review.pages.length - 1] <
              pagination.review.totalPages
            "
          >
            ...
          </span>

          <button
            (click)="nextPage('review')"
            [disabled]="
              pagination.review.pageIndex === pagination.review.totalPages - 1
            "
          >
            ›
          </button>
          <button
            (click)="lastPage('review')"
            [disabled]="
              pagination.review.pageIndex === pagination.review.totalPages - 1
            "
          >
            »
          </button>
        </div>
      </div>
      <div class="fixed-btn">
        <button
          mat-flat-button
          class="btn-blue"
          routerLink="/review-access/review-access-detail"
        >
          Sign-off And Finish
        </button>
      </div>
    </ng-container>
  </mat-tab>
</mat-tab-group>
