.file-content-div{
    margin: 1.875rem 1.5rem  3.75rem 1.5rem ;
}
.file-content-div h3{
font-weight: 700;
font-size: 1.25rem;
color: #050D02;
}
.file-form-wrapper{
    box-shadow: 3px 3px 1px 1px #0000000D;
    border-radius: 0.625rem;
    padding: 1.875rem ;
    background: #fff;
    margin-top: 1.25rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:1.875rem 6.25rem;
}
.file-form-wrapper .form-control{
    width: calc((100% / 3) - 4.2rem);
}
.file-form-wrapper .form-control:nth-child(8),
.file-form-wrapper .form-control:nth-child(9){
    position: relative;
    top: -7.3rem;
}
.fixed-btn{
    padding:0 1.5rem 1rem  1.5rem;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}