<mat-dialog-actions align="end" class="popupclose">
  <img mat-dialog-close src="/svg/close.svg" />
</mat-dialog-actions>
<div class="popup-content">
  <h6 mat-dialog-title class="popup-title">Forward</h6>
  <div>
    <div class="search-box">
      <input type="text" placeholder="Search" />
      <img src="/svg/search.svg" class="search-icon" />
    </div>
    <div class="checkboxwrapper">
      <div>
        <mat-checkbox class="customcheckbox"> Amanda Jones </mat-checkbox>
      </div>

      <div>
        <mat-checkbox class="customcheckbox"> Amanda Smith </mat-checkbox>
      </div>

      <div>
        <mat-checkbox class="customcheckbox"> Amar Malhotra </mat-checkbox>
      </div>
    </div>
    <div class="form-control">
      <textarea
        type="textarea"
        class="form-field"
        placeholder="Comment"
      ></textarea>
    </div>
  </div>
  <mat-dialog-actions align="end" class="forwardbtn">
    <button mat-dialog-close mat-flat-button class="btn-blue">Forward</button>
  </mat-dialog-actions>
</div>
