<!-- Fixed Header -->
<mat-toolbar color="primary" class="header">
  <div class="topnav">
    <button mat-icon-button (click)="drawer.toggle()">
      <img src="/svg/menu.svg" />
    </button>

    <a routerLink="/">
      <img src="/svg/logo.svg" />
    </a>
    <a routerLink="/"> Home </a>
    <a routerLink="/" class="hasSubmenu"> My Work </a>
    <a
      routerLink="/applications"
      class="hasSubmenu"
      *ngIf="permissionService.hasPermission('applications')"
    >
      Applications
    </a>
    <a
      routerLink="/"
      class="hasSubmenu"
      *ngIf="permissionService.hasPermission('insights')"
    >
      Intelligence
    </a>
    <a routerLink="/" class="hasSubmenu"> Setup </a>
    <a routerLink="/" class="hasSubmenu"> File Access Manager </a>
  </div>

  <div class="rightnav">
    <div class="notificationWrapper">
      <button
        mat-icon-button
        [matBadge]="notificationCount"
        matBadgeSize="large"
        [matBadgeHidden]="hidden || notificationCount === 0"
        (click)="handleNotificationClick()"
        class="notibtn"
      >
        <img src="/svg/alerts.svg" />
      </button>

      <div
        class="notificationlist"
        *ngIf="!hidden && notifications.length > 0"
        (scroll)="onNotificationScroll($event)"
      >
        <p *ngFor="let item of notifications">
          {{ item.notification }}
        </p>

        <div class="spinner" *ngIf="loadingNotifications">
          <mat-spinner></mat-spinner>
        </div>
      </div>

      <div
        class="notificationlist"
        *ngIf="!hidden && notifications.length === 0"
      >
        <p>No notifications found</p>
      </div>
    </div>

    <button mat-icon-button class="profileBtn">
      <img src="/images/profile.png" class="profileImg" />
      <span>Administrator</span>
    </button>

    <button
      mat-icon-button
      class="logoutBtn"
      type="button"
      [matMenuTriggerFor]="userMenu"
      aria-label="User menu"
    >
      <img src="/svg/logout.svg" class="logout" />
    </button>

    <mat-menu #userMenu="matMenu" xPosition="before">
      <button mat-menu-item class="logoutMenuItem" (click)="logout()">
        <img src="/svg/logout.svg" class="logout" />
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<!-- Main Layout -->
<mat-sidenav-container class="main-container" [hasBackdrop]="false">
  <!-- Sidebar -->
  <mat-sidenav #drawer mode="side" [opened]="isDashboard" class="sidebar">
    <mat-nav-list>
      <!-- Dashboard -->
      @defer {
        <a
          *ngIf="permissionService.hasPermission('dashboard')"
          mat-list-item
          routerLink="/"
          routerLinkActive="mat-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="/svg/dashboard.svg" />
          <span>Dashboard</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      <!-- Applications -->
      @defer {
        <a
          *ngIf="permissionService.hasPermission('applications')"
          mat-list-item
          routerLink="/applications"
          routerLinkActive="mat-active"
        >
          <img src="/svg/applications.svg" />
          <span>Applications</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      <!-- Identity Vault -->
      @defer {
        <a
          *ngIf="permissionService.hasPermission('identityVault')"
          mat-list-item
          routerLink="/identity-vault"
          routerLinkActive="mat-active"
        >
          <img src="/svg/identity.svg" />
          <span>Identity Vault</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      <!-- Request Access -->
      @defer {
        <a
          *ngIf="permissionService.hasPermission('accessRequests')"
          mat-list-item
          routerLink="/request-access"
          routerLinkActive="mat-active"
        >
          <img src="/svg/request.svg" />
          <span>Request Access</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      <!-- Audit Trail -->
      @defer {
        <a
          *ngIf="permissionService.hasPermission('governance')"
          mat-list-item
          routerLink="/audit-trail"
          routerLinkActive="mat-active"
        >
          <img src="/svg/audit.svg" />
          <span>Audit Trail</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      <!-- Review Access -->
      @defer {
        <a
          *ngIf="permissionService.hasPermission('attestations')"
          mat-list-item
          routerLink="/review-access"
          routerLinkActive="mat-active"
        >
          <img src="/svg/review.svg" />
          <span>Review Access</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      <!-- Administrative Control -->
      @defer {
        <a
          *ngIf="permissionService.hasPermission('RBAC')"
          mat-list-item
          routerLink="/administrative-control"
          routerLinkActive="mat-active"
        >
          <img src="/svg/control.svg" />
          <span>Administrative Control</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      <!-- Alerts -->
      @defer {
        <a
          *ngIf="permissionService.hasPermission('policies')"
          mat-list-item
          routerLink="/alerts"
          routerLinkActive="mat-active"
        >
          <img src="/svg/alerts.svg" />
          <span>Alerts</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      <!-- Rules -->
      @defer {
        <a
          *ngIf="permissionService.hasPermission('policies')"
          mat-list-item
          routerLink="/rules"
          routerLinkActive="mat-active"
        >
          <img src="/svg/rules.svg" />
          <span>Rules</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      <!-- Report -->
      @defer {
        <a
          *ngIf="permissionService.hasPermission('reports')"
          mat-list-item
          routerLink="/reports"
          routerLinkActive="mat-active"
        >
          <img src="/svg/report.svg" />
          <span>Report</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
        <ngx-skeleton-loader animation="progress" />
      }

      <!-- Agent -->
      @defer {
        <a
          *ngIf="permissionService.hasPermission('agent')"
          mat-list-item
          routerLink="/agent"
          routerLinkActive="mat-active"
        >
          <img src="/images/chat-bot.png" />
          <span>Agent</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
        <ngx-skeleton-loader animation="progress" />
      }
    </mat-nav-list>
  </mat-sidenav>

  <!-- Page Content -->
  <mat-sidenav-content>
    <div class="content">
      <div [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
