<!-- Fixed Header -->
<mat-toolbar color="primary" class="header">
  <div class="topnav">
    <button mat-icon-button (click)="drawer.toggle()">
      <img src="/svg/menu.svg" />
    </button>

    <a routerLink="/">
      <img src="/svg/logo.svg" />
    </a>
    <a routerLink="/"> Home </a>
    <a routerLink="/" class="hasSubmenu"> My Work </a>
    <a routerLink="/" class="hasSubmenu"> Applications </a>
    <a routerLink="/" class="hasSubmenu"> Intelligence </a>
    <a routerLink="/" class="hasSubmenu"> Setup </a>
    <a routerLink="/" class="hasSubmenu"> File Access Manager </a>
  </div>

  <div class="rightnav">
    <div class="notificationWrapper">
      <button
        mat-icon-button
        [matBadge]="notification"
        matBadgeSize="large"
        [matBadgeHidden]="hidden"
        (click)="handleNotificationClick()"
        class="notibtn"
      >
        <img src="/svg/alerts.svg" />
      </button>

      <div class="notificationlist" *ngIf="!hidden">
        <p *ngFor="let item of dataSource">
          {{ item.notification }}
        </p>
      </div>
    </div>

    <button mat-icon-button class="profileBtn">
      <img src="/images/profile.png" class="profileImg" />
      <span>Administrator</span>
    </button>
  </div>
</mat-toolbar>

<!-- Main Layout -->
<mat-sidenav-container class="main-container" [hasBackdrop]="false">
  <!-- Sidebar -->
  <mat-sidenav #drawer mode="side" [opened]="isDashboard" class="sidebar">
    <mat-nav-list>
      @defer {
        <a
          mat-list-item
          routerLink="/"
          routerLinkActive="mat-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="/svg/dashboard.svg" />
          <span>Dashboard</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      @defer {
        <a
          mat-list-item
          routerLink="/applications"
          routerLinkActive="mat-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="/svg/applications.svg" />
          <span>Applications</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      @defer {
        <a
          mat-list-item
          routerLink="/identity-vault"
          routerLinkActive="mat-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="/svg/identity.svg" />
          <span>Identity Vault</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      @defer {
        <a
          mat-list-item
          routerLink="/request-access"
          routerLinkActive="mat-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="/svg/request.svg" />
          <span>Request Access</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      @defer {
        <a
          mat-list-item
          routerLink="/audit-trail"
          routerLinkActive="mat-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="/svg/audit.svg" />
          <span>Audit Trail</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      @defer {
        <a
          mat-list-item
          routerLink="/review-access"
          routerLinkActive="mat-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="/svg/review.svg" />
          <span>Review Access</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      @defer {
        <a
          mat-list-item
          routerLink="/administrative-control"
          routerLinkActive="mat-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="/svg/control.svg" />
          <span>Administrative Control</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      @defer {
        <a
          mat-list-item
          routerLink="/alerts"
          routerLinkActive="mat-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="/svg/alerts.svg" />
          <span>Alerts</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      @defer {
        <a
          mat-list-item
          routerLink="/rules"
          routerLinkActive="mat-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="/svg/rules.svg" />
          <span>Rules</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
      }

      @defer {
        <a mat-list-item class="noClick">
          <img src="/svg/report.svg" />
          <span>Report</span>
        </a>
        <a
          class="innermenuItem"
          mat-list-item
          routerLink="/reports/executive-audit-report"
          routerLinkActive="mat-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <!-- <img src="/svg/rules.svg" /> -->
          <span>Executive Audit Report</span>
        </a>
      } @placeholder (minimum 1000ms) {
        <ngx-skeleton-loader animation="progress" />
        <ngx-skeleton-loader animation="progress" />
      }
    </mat-nav-list>
  </mat-sidenav>

  <!-- Page Content -->
  <mat-sidenav-content>
    <div class="content">
      <div [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
