<mat-dialog-actions align="end" class="popupclose">
  <img mat-dialog-close src="/svg/close.svg" />
</mat-dialog-actions>
<div class="popup-content">
  <h6 mat-dialog-title class="popup-title">Employee Details</h6>
  <div class="profile-card">
    <div class="profileimgdiv">
      <img src="/images/profile.png" alt="profile" class="profileImg" />
    </div>

    <div class="profileContentDiv">
      <h6>Identity Information</h6>
      <p><strong>First Name:</strong> Christopher</p>
      <p><strong>Last Name:</strong> Williams</p>
      <p><strong>Email:</strong> christophewilliams&#64;bridgesoft.com</p>
      <p><strong>Department:</strong> IT</p>
      <p><strong>Manager:</strong> Bob Smith</p>
      <p><strong>EmployeeId:</strong> EMP4567853</p>
      <p><strong>Work Phone:</strong> +1 345-0932</p>
      <p><strong>Joining Date:</strong> 12 / 01 /2023</p>
      <mat-dialog-actions align="start" class="closebtn">
        <button mat-dialog-close mat-flat-button class="btn-blue">Close</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
