/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html,
body {
  height: auto;
  font-size: 16px;
}

@media screen and (max-width: 1600px) and (min-width: 1500px) {
  html,
  body {
    height: auto;
    font-size: 14px;
  }
}
@media screen and (max-width: 1499px) and (min-width: 1200px) {
  html,
  body {
    height: auto;
    font-size: 12px;
  }
}
body {
  margin: 0;
  background: #f4f4f4;
  font-family: "Roboto", sans-serif !important;
}
.sidebar .mdc-list-item__primary-text {
  display: flex !important;
  align-items: center !important;
  gap: 0.625rem;
}

.header .profileBtn.mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
  border-radius: 0.625rem !important;
}
.header .notibtn.mat-badge-large.mat-badge-overlap .mat-badge-content {
  background: #e57373 !important;
  min-width: 1.0625rem !important;
  min-height: 1.0625rem !important;
  bottom: auto !important;
  top: 50% !important;
  right: auto !important;
  left: 32px !important;
  font-size: 0.8125rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.header .notibtn.mat-badge-hidden.mat-badge-overlap .mat-badge-content {
  display: none !important;
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.6);
}
.mat-mdc-dialog-surface {
  border-radius: 0.625rem !important;
}
.lastcol .mat-sort-header-container {
  justify-content: flex-end !important;
}
[mat-sort-header].cdk-keyboard-focused .mat-sort-header-container,
[mat-sort-header].cdk-program-focused .mat-sort-header-container {
  border-bottom: 0 !important;
}
.bottom-right-dialog.cdk-overlay-pane {
  border: 1px solid #d9d9d9 !important;
  box-shadow: 0px 0px 5px 10px #0000000d !important ;
  border-radius: 0.625rem !important;
  overflow: hidden !important;
}
.tabGrp {
  margin-top: 1rem;
}
.tabGrp .mat-mdc-tab.mdc-tab {
  padding: 0 1rem 0 0 !important;
  margin-right: 1.875rem;
  height: 2.5rem;
}
.tabGrp .mat-mdc-tab .mdc-tab__text-label {
  color: #787878 !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
}
.tabGrp .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #1176bd !important;
}
.tabGrp .mat-mdc-tab-label-container {
  border-bottom: 0;
}
.tabGrp .mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-width: 1px !important;
  border-color: #1176bd !important;
}
.tabGrp .mat-mdc-dialog-content {
  padding: 0.6rem 0 0 0 !important;
}
.tabGrp .tab-title-cust .mdc-button .mdc-button__label {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #1176bd;
}
.tabGrp .tab-title-cust .mdc-button {
  border-radius: 0.625rem !important;
}
.tab-acco-cust .mat-expansion-panel-header {
  padding: 0.625rem 1.25rem 0.625rem 0.625rem;
  flex-direction: row-reverse;
  gap: 0.625rem;
}
.tab-acco-cust .mat-expansion-panel .mat-expansion-indicator {
  width: 1.6875rem;
  height: 1.6875rem;
  background: #fff url("/svg/downarrow.svg") no-repeat center center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-acco-cust .mat-expansion-indicator svg {
  margin: 0;
  display: none;
}
.tab-acco-cust .mat-expansion-panel-header-title {
  justify-content: space-between;
  margin: 0;
}

.bottom-right-dialog {
  animation: slideUpDialog 0.4s ease-in-out;
}
@keyframes slideUpDialog {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.mat-sort-header-arrow svg {
  position: static !important;
  margin: 0 !important;
}
.mat-sort-header-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-header-wrapper .back-btn .mdc-button__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #9d9d9d;
  width: 24rem;
  border-radius: 3.125rem;
  margin: 0 auto;
  margin-top: 1.625rem;
  height: 2.25rem;
  padding: 0 1rem;
  background: #fff;
}
.search-box input {
  outline: none;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  width: calc(100% - 1.5rem);
  border: 0;
  background: transparent;
}
.custom-filter {
  width: 180px;
}
.custom-filter .mat-mdc-form-field-infix {
  width: 180px;
  display: flex;
  align-items: center;
}
.custom-filter .mat-mdc-text-field-wrapper {
  background: #fff !important;
  border-radius: 0.625rem !important;
  border: 1px solid #d9d9d9;
}
.custom-filter .mdc-line-ripple:before {
  display: none;
}
.custom-filter .mat-mdc-form-field-infix {
  padding: 0 !important;
  min-height: 2.375rem !important;
}
.custom-filter .mdc-floating-label {
  position: static !important;
  width: 100% !important;
  transform: none !important;
  font-weight: 400;
  font-size: 1rem;
  color: #000;
}
.custom-filter .mat-mdc-select-arrow-wrapper,
.custom-filter .mdc-line-ripple,
.custom-filter .mdc-floating-label--float-above {
  display: none !important;
}
.custom-filter .mat-mdc-text-field-wrapper {
  padding: 0 30px 0 50px !important;
  width: 180px !important;
  position: relative !important;
  display: flex !important;
  align-items: center !important;
}
.custom-filter .mat-mdc-text-field-wrapper:before {
  content: "";
  background: url("/svg/filter.svg") no-repeat center center;
  width: 18px;
  height: 16px;
  background-size: contain;
  position: absolute;
  left: 20px;
}
.no-icon .mat-mdc-text-field-wrapper:before{
  display: none;
}
.no-icon .mat-mdc-text-field-wrapper{
  padding-left: 20px !important;
}
.custom-filter .mat-mdc-text-field-wrapper:after {
  content: "";
  background: url("/svg/bluearrow.svg") no-repeat center center;
  width: 12px;
  height: 6px;
  background-size: contain;
  position: absolute;
  right: 20px;
}
.custom-filter-panel.mat-mdc-select-panel {
  background: #fff !important;
  border-radius: 0.625rem !important;
  border: 1px solid #d9d9d9;
  padding: 0 !important;
}
.custom-filter-panel .mat-mdc-option {
  font-size: 14px !important;
  min-height: 38px !important;
}
.solid-table {
  height: calc(100vh - 20rem);
  overflow: auto;
}
.solid-table .mat-mdc-table {
  background: transparent;
  border-spacing: 0 10px;
}
.solid-table .mdc-data-table__cell,
.solid-table .mat-mdc-header-cell {
  border: 0 !important;
  padding: 0 1rem !important;
  height: auto !important;
  width: 20% !important;
}
.solid-table .mat-sort-header-arrow{
  display: none;
}
.solid-table .mat-mdc-header-cell th {
  font-weight: 500;
  font-size: 1rem;
  color: #000;
}

.solid-table .mdc-data-table__cell {
  background: #fff !important;
}
.solid-table .mat-mdc-row td:first-child {
  border-radius: 5px 0 0 5px;
  overflow: hidden;
}

.solid-table .mat-mdc-row td:last-child {
  border-radius: 0 5px 5px 0;
  overflow: hidden;
}
.solid-table .mat-mdc-row td {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.solid-table .lastcol {
  text-align: right !important;
}
.solid-table .mat-mdc-header-row {
  background: #f4f4f4 !important;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 38px !important;
}
.solid-table .table-link {
  text-decoration: none !important;
  color: inherit !important;
  transition: all 0.25s ease-in-out;
}

.solid-table .table-link:hover {
  color: #1176bd !important;
  transition: all 0.25s ease-in-out;
}
.skeleton-w-100 {
  width: 10rem;
  display: flex;
}

.route-container {
  position: relative;
  overflow: hidden; /* ✅ prevents flicker */
  height: 100%;
}

router-outlet + * {
  display: block;
  width: 100%;
}

.form-control label {
  font-weight: 500;
  font-size: 1rem;
  color: #000;
  display: flex;
}
.form-control .form-field {
  border: 1px solid #d1d1d1;
  border-radius: 0.3125rem;
  min-height: 2.25rem;
  font-weight: 400;
  font-size: 0.875rem;
  color: #000;
  margin-top: 1rem;
  outline: none;
  padding: 0.625rem;
  width: 100%;
}
.form-control textarea {
  height: 10rem;
  resize: none;
}
.btn-blue {
  min-width: 15rem !important;
  background: #1176bd;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 0.625rem !important;
}
