.dashboard-card-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding: 1.25rem;
}
.dashboard-card-list .dashboard-card {
  width: calc((100% / 3) - 0.875rem);
}
.dashboard-card-list .static-dashboard-card {
  width: calc(50% - 0.7rem);
}
